<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
</head>

<body
    style="margin: 0; padding: 0; background-color: #ffffff; font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
        style="max-width: 450px; margin: 0 auto; background-color: #ffffff;">
        <tr>
            <td style="padding: 30px 20px;">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 30px;">
                    <tr>
                        <td>
                            <img src="https://raw.githubusercontent.com/wafflestudio/moiming-web/refs/heads/main/public/moiming-logo.png"
                                 alt="모이밍" width="120" style="display: block; border: 0;">
                        </td>
                    </tr>
                </table>

                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 30px;">
                    <tr>
                        <td width="48" style="vertical-align: middle;">
                            <div style="width: 48px; height: 48px; background-color: #EC221F; border-radius: 50%;">
                                <table border="0" cellpadding="0" cellspacing="0" width="48" height="48">
                                    <tr>
                                        <td align="center" valign="middle" style="height: 48px; line-height: 0;">
                                            <img src="https://raw.githubusercontent.com/wafflestudio/moiming-web/refs/heads/main/public/x.png"
                                                 alt="x-mark" width="20" style="display: block; border: 0;">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td
                            style="padding-left: 15px; font-size: 22px; font-weight: bold; line-height: 1.3; color: #111;">
                            안녕하세요 {name}님<br>
                            신청이 강제 취소되었습니다.
                        </td>
                    </tr>
                </table>

                <div style="border: 1px solid #EAEAEA; border-radius: 12px; padding: 24px; margin-bottom: 16px;">
                    <div style="font-size: 20px; font-weight: bold; color: #000; margin-bottom: 20px;">{eventTitle}
                    </div>

                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                        style="font-size: 15px; color: #777; line-height: 1.6;">
                        <tr>
                            <td width="20" style="padding-bottom: 12px; vertical-align: middle;">
                                <img src="https://raw.githubusercontent.com/wafflestudio/moiming-web/refs/heads/main/public/calendar.png"
                                     alt="calendar" width="20" style="display: block; border: 0;">
                            </td>
                            <td style="padding-bottom: 12px; padding-left: 10px; vertical-align: middle;">
                                일시 <span style="margin-left:8px; color:#444;">{eventDateRange}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 12px; vertical-align: middle;">
                                <img src="https://raw.githubusercontent.com/wafflestudio/moiming-web/refs/heads/main/public/map-pin.png"
                                     alt="map-pin" width="20" style="display: block; border: 0;">
                            </td>
                            <td style="padding-bottom: 12px; padding-left: 10px; vertical-align: middle;">
                                장소 <span style="margin-left:8px; color:#444;">{location}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-bottom: 4px; vertical-align: middle;">
                                <img src="https://raw.githubusercontent.com/wafflestudio/moiming-web/refs/heads/main/public/user.png"
                                     alt="user" width="20" style="display: block; border: 0;">
                            </td>
                            <td style="padding-bottom: 4px; padding-left: 10px; vertical-align: middle;">
                                정원 <span style="margin-left:8px; color:#444;">{totalCount}/{capacity}명</span>
                            </td>
                        </tr>
                    </table>
                    <div
                        style="text-align: right; color: #CCCCCC; font-size: 24px; line-height: 1; font-family: sans-serif; font-weight: 300; margin-top: -10px;">
                        &rsaquo;</div>
                </div>

                <table border="0" cellpadding="0" cellspacing="0" width="100%"
                    style="background-color: #F7F8F9; border-radius: 8px; margin-bottom: 30px;">
                    <tr>
                        <td style="padding: 14px 16px; font-size: 14px; color: #444; vertical-align: middle;">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="vertical-align: middle; padding-right: 8px;">
                                        <img src="https://raw.githubusercontent.com/wafflestudio/moiming-web/refs/heads/main/public/clock.png"
                                             alt="clock" width="20" style="display: block; border: 0;">
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <strong style="font-weight: bold;">신청 기간:</strong>
                                        <span
                                            style="margin-left: 4px;">{registrationDateRange}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <div
                    style="font-size: 16px; line-height: 1.7; color: #333; margin-bottom: 50px; white-space: wrap; word-break: break-all;">
                    {description}</div>

            </td>
        </tr>
    </table>
</body>

</html>
