apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  application.yaml: |
    spring:
      datasource:
        url: jdbc:mysql://mysql:3306/moisha?allowPublicKeyRetrieval=true
        username: user
        # Password will be injected via environment variable
        driver-class-name: com.mysql.cj.jdbc.Driver
      flyway:
        enabled: true
      data:
        redis:
          host: redis
          port: 6379

    jwt:
      # Secret will be injected via environment variable
      expiration-in-ms: 86400000

    email:
      from-name: 모이밍

    logging:
      level:
        root: INFO
        com.wafflestudio: INFO

    management:
      endpoints:
        web:
          exposure:
            include: health
      endpoint:
        health:
          show-details: always
